.Main {
	grid-template-columns: 1fr 2fr;
	/* Vízszintesen két részre osztjuk 1/3 - 2/3 arányban */
	overflow: hidden;

	@media (max-width: 650px) {
		&.left {
			grid-template-columns: 1fr 0;

			.RightPane {
				overflow: hidden;
			}
		}

		&.right {
			grid-template-columns: 0 1fr;

			.LeftPane {
				overflow: hidden;
			}
		}
	}
}
